<% provide(:title, 'Up')%>
<div class="center">
	<%= image_tag("up.png", alt:"Carl and Ellie", heigt:200, width:500) %>
	<h1>Welcome Aboard</h1>
	<%= form_for(:session, url: sessions_path) do |f| %>
	<%=   f.label :name %>
	<%=   f.text_field :name %>
	<%=   f.label :password %>
	<%=   f.password_field :password%>
	<div>
	<%=   f.submit "Sign in", class:"btn btn-large btn-danger"%>
  </div>
	<% end %>
</div>




